body {
    font-size: 16px;
    font-family: Roboto,  sans-serif;

}

.wrapper {
    display:grid;
    grid-template-columns: 1fr 3fr;

}

.sidebar {
    background-color: #3D92D4;
    color: white;
    font-weight: bold;

    grid-row:1/3;

    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 0.5rem
}


.sidebarLogo {
    display: grid;
    align-items: end;
    justify-items: end;
    height: 24px;
    width: 24px;
}



.sidebar>:nth-child(1),
.sidebar>:nth-child(2){
    font-size: 1.5rem;
    padding: 1rem 0rem 1rem 0rem;
    height: 36px;
    width: 36px;
}

.header {
    background-color: #FFFFFF;
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 1fr 1fr;

    /* box-shadow: 5px 10px black; */
}

.headerTop {
    display: grid;
    grid-template-columns: repeat(5, auto)
}

.headerBottom {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap:10px
}

.button {
    max-height: 30px;
    background-color: #3D92D4; 
    color: white;
    border: none;
    border-radius: 25px;
}


.content {
    background-color:#E1E7EF;
}

.container{
    grid-column: 2/3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
    margin: 18px 10px;

}

.left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:15px
}

.left>:nth-child(1){
    grid-column: 1/3;
}

.projects.card {
    background-color: white;
    border-radius: 10px;
}